In [38]:
import pandas as pd
import numpy as np
import json
import geopandas
import geopy
import requests
from IPython.display import IFrame
import matplotlib.cm as cm
import matplotlib.colors as colors
import folium # map rendering library
from sklearn.cluster import KMeans
import shapely.geometry
import pyproj
import csv
import numbers
import math

In [39]:
LD_grid = pd.read_csv("grid.csv",engine='python',sep=',')
#print(LD_grid)
LD_grid_landuse = pd.read_csv("landandbuildings.csv",encoding = 'unicode_escape',engine='python',sep=',')

Clustering =  4 # Number of clustering

In [40]:
LD_grid_landuse

,OBJECTID,osm_id,code,fclass,name,longitude,latitude,grid
0,47,13860363,7202,park,Parc Andr¨¦ Malraux,2.225952,48.891701,"0,6"
1,48,13860363,7202,park,Parc Andr¨¦ Malraux,2.226190,48.890964,"0,6"
2,49,13860363,7202,park,Parc Andr¨¦ Malraux,2.226495,48.890873,"0,6"
3,50,13860363,7202,park,Parc Andr¨¦ Malraux,2.226418,48.890763,"0,5"
4,51,13860363,7202,park,Parc Andr¨¦ Malraux,2.226309,48.890612,"0,5"
...,...,...,...,...,...,...,...,...
17542,18734,965129420,1500,service,PX MOULIN 34 DP,2.230218,48.885498,"3,0"
17543,18735,965129420,1500,service,PX MOULIN 34 DP,2.230236,48.885508,"3,0"
17544,18736,965129420,1500,service,PX MOULIN 34 DP,2.230256,48.885495,"3,0"
17545,18737,965129420,1500,service,PX MOULIN 34 DP,2.230237,48.885484,"3,0"
17546,18738,965129420,1500,service,PX MOULIN 34 DP,2.230218,48.885498,"3,0"

In [41]:
print(LD_grid_landuse.groupby('grid').count())

      OBJECTID  osm_id  code  fclass  name  longitude  latitude
grid
0,0         10      10    10      10    10         10        10
0,10        48      48    48      48    48         48        48
0,11        18      18    18      18    18         18        18
0,12        30      30    30      30    30         30        30
0,2         13      13    13      13    13         13        13
...        ...     ...   ...     ...   ...        ...       ...
9,5         92      92    92      92    92         92        92
9,6         11      11    11      11    11         11        11
9,7         27      27    27      27    27         27        27
9,8         47      47    47      47    47         47        47
9,9         15      15    15      15    15         15        15

[246 rows x 7 columns]

In [42]:
# one hot encoding
LD_grid_landuse_onehot = pd.get_dummies(LD_grid_landuse[['fclass']], prefix="", prefix_sep="")

# add District column back to dataframe
LD_grid_landuse_onehot['grid'] = LD_grid_landuse['grid'] 

# move District column to the first column
fixed_columns = [LD_grid_landuse_onehot.columns[-1]] + list(LD_grid_landuse_onehot.columns[:-1])
LD_grid_landuse_onehot = LD_grid_landuse_onehot[fixed_columns]

LD_grid_landuse_onehot.head()

,grid,apartments,commercial,grass,house,office,public,school,allotments,apartments,...,retail,roof,school,scrub,semidetached_house,service,stadium,terrace,tower,university
0,"0,6",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"0,6",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"0,6",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"0,5",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"0,5",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
LD_grid_landuse_grouped = LD_grid_landuse_onehot.groupby('grid').mean().reset_index()
LD_grid_landuse_grouped

,grid,apartments,commercial,grass,house,office,public,school,allotments,apartments,...,retail,roof,school,scrub,semidetached_house,service,stadium,terrace,tower,university
0,"0,0",0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.800000,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
1,"0,10",0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.604167,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
2,"0,11",0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.388889,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
3,"0,12",0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.066667,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
4,"0,2",0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,"9,5",0.0,0.206522,0.0,0.0,0.130435,0.0,0.0,0.0,0.000000,...,0.0,0.021739,0.0,0.000000,0.0,0.0,0.0,0.0,0.032609,0.0
242,"9,6",0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
243,"9,7",0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
244,"9,8",0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
245,"9,9",0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.333333,0.0,0.0,0.0,0.0,0.000000,0.0

In [44]:
# Find out the top 10 restaurant type in the district

def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

num_top_venues = 6

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['grid']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most poi Type'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most poi Type'.format(ind+1))

# create a new dataframe
LD_grid_landuse_grouped_sorted = pd.DataFrame(columns=columns)
LD_grid_landuse_grouped_sorted['grid'] = LD_grid_landuse_grouped['grid']

for ind in np.arange(LD_grid_landuse_grouped.shape[0]):
    LD_grid_landuse_grouped_sorted.iloc[ind, 1:] = return_most_common_venues(LD_grid_landuse_grouped.iloc[ind, :], num_top_venues)

LD_grid_landuse_grouped_sorted

,grid,1st Most poi Type,2nd Most poi Type,3rd Most poi Type,4th Most poi Type,5th Most poi Type,6th Most poi Type
0,"0,0",apartments,park,apartments,retail,house,industrial
1,"0,10",apartments,residential,grass,apartments,house,industrial
2,"0,11",residential,apartments,grass,office,apartments,house
3,"0,12",office,construction,apartments,apartments,residential,house
4,"0,2",residential,apartments,hotel,house,industrial,meadow
...,...,...,...,...,...,...,...
241,"9,5",office,commercial,commercial,office,tower,roof
242,"9,6",commercial,office,apartments,residential,house,industrial
243,"9,7",commercial,construction,apartments,grass,house,industrial
244,"9,8",commercial,construction,apartments,grass,house,industrial
245,"9,9",grass,scrub,residential,hotel,house,industrial

In [45]:
# set number of clusters
kclusters = Clustering

# set the attributes used for clustering
LD_grid_landuse_grouped_clustering = LD_grid_landuse_grouped.drop(columns='grid')

# run k-means clustering
kmeans = KMeans(n_clusters = kclusters, random_state = 0)
kmeans.fit(LD_grid_landuse_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([0, 0, 0, 2, 3, 3, 3, 3, 3, 3])

In [46]:
# Merge the result into the district dataframe
# add clustering labels
LD_grid_landuse_grouped_sorted['Cluster Labels'] = kmeans.labels_
#HK_district_dish_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

LD_grid_merged = LD_grid

# merge df_grouped with df_data to add latitude/longitude for each neighbourhood
LD_grid_merged = LD_grid_merged.join(LD_grid_landuse_grouped_sorted.set_index('grid'), on='grid')
LD_grid_merged['Cluster Labels']=[int(val) if isinstance(val,numbers.Number) & (math.isnan(val)==False) else 0 for val in LD_grid_merged['Cluster Labels']]
LD_grid_merged_drop=LD_grid_merged.dropna()

In [47]:
LD_grid_merged_drop

,grid,longitude,latitude,1st Most poi Type,2nd Most poi Type,3rd Most poi Type,4th Most poi Type,5th Most poi Type,6th Most poi Type,Cluster Labels
0,"0,0",2.226390,48.885906,apartments,park,apartments,retail,house,industrial,0
1,"1,0",2.227802,48.885906,park,apartments,residential,hotel,house,industrial,3
2,"2,0",2.229214,48.885906,apartments,school,hotel,residential,house,industrial,0
3,"3,0",2.230626,48.885906,hotel,park,allotments,service,school,residential,3
4,"4,0",2.232038,48.885906,park,apartments,residential,hotel,house,industrial,3
...,...,...,...,...,...,...,...,...,...,...
255,"15,12",2.247568,48.897131,house,apartments,apartments,retail,industrial,meadow,3
256,"16,12",2.248980,48.897131,dormitory,apartments,residential,house,industrial,meadow,3
257,"17,12",2.250392,48.897131,apartments,house,dormitory,grass,apartments,residential,0
258,"18,12",2.251804,48.897131,house,apartments,garage,apartments,residential,industrial,0
259,"19,12",2.253216,48.897131,apartments,house,garages,apartments,residential,industrial,0

In [54]:
LD_grid_merged_drop.to_csv('LD_grid_landuse_cluster.csv', index=False, encoding='utf-8')
LD_grid_merged_drop = pd.read_csv("LD_grid_landuse_cluster.csv",engine='python',sep=',')
print(LD_grid_merged_drop)

      grid  longitude   latitude 1st Most poi Type 2nd Most poi Type  \
0      0,0   2.226390  48.885906        apartments              park
1      1,0   2.227802  48.885906              park        apartments
2      2,0   2.229214  48.885906        apartments            school
3      3,0   2.230626  48.885906             hotel              park
4      4,0   2.232038  48.885906              park        apartments
..     ...        ...        ...               ...               ...
241  15,12   2.247568  48.897131             house        apartments
242  16,12   2.248980  48.897131         dormitory        apartments
243  17,12   2.250392  48.897131        apartments             house
244  18,12   2.251804  48.897131             house        apartments
245  19,12   2.253216  48.897131        apartments             house

    3rd Most poi Type 4th Most poi Type 5th Most poi Type 6th Most poi Type  \
0          apartments            retail             house        industrial
1         residential             hotel             house        industrial
2               hotel       residential             house        industrial
3          allotments           service            school       residential
4         residential             hotel             house        industrial
..                ...               ...               ...               ...
241        apartments            retail        industrial            meadow
242       residential             house        industrial            meadow
243         dormitory             grass        apartments       residential
244            garage        apartments       residential        industrial
245           garages        apartments       residential        industrial

     Cluster Labels
0                 0
1                 3
2                 0
3                 3
4                 3
..              ...
241               3
242               3
243               0
244               0
245               0

[246 rows x 10 columns]

In [55]:
# create map
map_cluster = folium.Map(tiles='cartodbpositron', location=[48.89114492, 2.240388888], zoom_start=14.6)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]


# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(LD_grid_merged_drop['latitude'], LD_grid_merged_drop['longitude'], LD_grid_merged_drop['grid'], LD_grid_merged_drop['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=10,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.5).add_to(map_cluster)
       
map_cluster.save('ld_district_landuse_cluster.html')
display(IFrame('ld_district_landeuse_cluster.html', width = 1500, height = 1200))
print([cluster-1])

[-1]

In [50]:
LD_grid_merged_drop[LD_grid_merged_drop['Cluster Labels'] == 0]

,grid,longitude,latitude,1st Most poi Type,2nd Most poi Type,3rd Most poi Type,4th Most poi Type,5th Most poi Type,6th Most poi Type,Cluster Labels
0,"0,0",2.226390,48.885906,apartments,park,apartments,retail,house,industrial,0
2,"2,0",2.229214,48.885906,apartments,school,hotel,residential,house,industrial,0
6,"6,0",2.234861,48.885906,house,apartments,apartments,retail,industrial,meadow,0
8,"11,0",2.241921,48.885906,apartments,apartments,retail,house,industrial,meadow,0
9,"12,0",2.243333,48.885906,apartments,apartments,retail,house,industrial,meadow,0
10,"13,0",2.244745,48.885906,apartments,apartments,retail,house,industrial,meadow,0
11,"14,0",2.246157,48.885906,apartments,grass,apartments,residential,house,industrial,0
17,"2,1",2.229214,48.886841,apartments,apartments,retail,house,industrial,meadow,0
19,"4,1",2.232038,48.886841,apartments,office,apartments,retail,house,industrial,0
20,"5,1",2.233449,48.886841,apartments,park,apartments,retail,house,industrial,0
21,"6,1",2.234861,48.886841,apartments,house,apartments,retail,industrial,meadow,0
23,"9,1",2.239097,48.886841,apartments,apartments,retail,house,industrial,meadow,0
25,"11,1",2.241921,48.886841,apartments,office,forest,grass,residential,house,0
26,"12,1",2.243333,48.886841,apartments,office,apartments,retail,house,industrial,0
29,"15,1",2.247568,48.886841,apartments,grass,office,park,apartments,residential,0
38,"6,2",2.234861,48.887777,apartments,apartments,retail,house,industrial,meadow,0
56,"4,3",2.232038,48.888712,apartments,apartments,retail,house,industrial,meadow,0
74,"3,4",2.230626,48.889648,apartments,forest,apartments,residential,house,industrial,0
75,"4,4",2.232038,48.889648,apartments,residential,apartments,retail,house,industrial,0
84,"13,4",2.244745,48.889648,apartments,tower,apartments,residential,house,industrial,0
93,"2,5",2.229214,48.890583,apartments,residential,apartments,retail,house,industrial,0
94,"3,5",2.230626,48.890583,apartments,grass,residential,apartments,house,industrial,0
130,"19,6",2.253216,48.891518,apartments,park,apartments,retail,house,industrial,0
147,"16,7",2.248980,48.892454,apartments,grass,park,apartments,residential,house,0
148,"17,7",2.250392,48.892454,apartments,park,apartments,retail,house,industrial,0
163,"13,8",2.244745,48.893389,public,apartments,grass,commercial,tower,residential,0
166,"16,8",2.248980,48.893389,apartments,grass,office,apartments,residential,house,0
167,"17,8",2.250392,48.893389,apartments,apartments,retail,house,industrial,meadow,0
172,"2,9",2.229214,48.894325,apartments,apartments,retail,house,industrial,meadow,0
183,"14,9",2.246157,48.894325,apartments,grass,school,apartments,residential,house,0
184,"15,9",2.247568,48.894325,apartments,grass,school,apartments,residential,house,0
186,"17,9",2.250392,48.894325,park,apartments,apartments,retail,house,industrial,0
187,"18,9",2.251804,48.894325,apartments,apartments,retail,house,industrial,meadow,0
189,"0,10",2.226390,48.895260,apartments,residential,grass,apartments,house,industrial,0
201,"14,10",2.246157,48.895260,apartments,terrace,residential,apartments,house,industrial,0
202,"15,10",2.247568,48.895260,apartments,school,grass,apartments,residential,house,0
203,"16,10",2.248980,48.895260,apartments,park,grass,apartments,residential,house,0
207,"0,11",2.226390,48.896196,residential,apartments,grass,office,apartments,house,0
208,"1,11",2.227802,48.896196,apartments,office,stadium,residential,grass,apartments,0
219,"13,11",2.244745,48.896196,apartments,roof,office,retail,house,industrial,0
220,"14,11",2.246157,48.896196,apartments,detached,house,roof,apartments,residential,0
221,"15,11",2.247568,48.896196,apartments,garage,roof,apartments,residential,house,0
222,"16,11",2.248980,48.896196,apartments,roof,house,apartments;retail,park,retail,0
231,"5,12",2.233449,48.897131,apartments,garage,apartments,residential,house,industrial,0
232,"6,12",2.234861,48.897131,apartments,hotel,apartments,terrace,stadium,house,0
233,"7,12",2.236273,48.897131,apartments,university,hotel,scrub,terrace,recreation_ground,0
239,"13,12",2.244745,48.897131,house,apartments,office,meadow,house,apartments,0
240,"14,12",2.246157,48.897131,house,apartments,semidetached_house,meadow,apartments,residential,0
243,"17,12",2.250392,48.897131,apartments,house,dormitory,grass,apartments,residential,0
244,"18,12",2.251804,48.897131,house,apartments,garage,apartments,residential,industrial,0
245,"19,12",2.253216,48.897131,apartments,house,garages,apartments,residential,industrial,0

In [51]:
LD_grid_merged_drop[LD_grid_merged_drop['Cluster Labels'] == 1]

,grid,longitude,latitude,1st Most poi Type,2nd Most poi Type,3rd Most poi Type,4th Most poi Type,5th Most poi Type,6th Most poi Type,Cluster Labels
7,"9,0",2.239097,48.885906,grass,residential,hotel,house,industrial,meadow,1
15,"18,0",2.251804,48.885906,grass,residential,hotel,house,industrial,meadow,1
22,"7,1",2.236273,48.886841,grass,residential,hotel,house,industrial,meadow,1
24,"10,1",2.240509,48.886841,grass,forest,apartments,residential,house,industrial,1
27,"13,1",2.244745,48.886841,grass,apartments,office,apartments,residential,house,1
...,...,...,...,...,...,...,...,...,...,...
190,"1,10",2.227802,48.895260,grass,stadium,residential,hotel,house,industrial,1
196,"9,10",2.239097,48.895260,hotel,grass,office,residential,house,industrial,1
197,"10,10",2.240509,48.895260,grass,office,meadow,residential,hotel,house,1
198,"11,10",2.241921,48.895260,grass,office,park,scrub,meadow,apartments,1
206,"19,10",2.253216,48.895260,commercial,grass,residential,hotel,house,industrial,1

In [52]:
LD_grid_merged_drop[LD_grid_merged_drop['Cluster Labels'] == 2]

,grid,longitude,latitude,1st Most poi Type,2nd Most poi Type,3rd Most poi Type,4th Most poi Type,5th Most poi Type,6th Most poi Type,Cluster Labels
13,"16,0",2.248980,48.885906,office,apartments,residential,hotel,house,industrial,2
14,"17,0",2.250392,48.885906,office,grass,residential,hotel,house,industrial,2
18,"3,1",2.230626,48.886841,office,apartments,residential,hotel,house,industrial,2
31,"18,1",2.251804,48.886841,tower,office,roof,apartments,recreation_ground,hotel,2
35,"3,2",2.230626,48.887777,office,apartments,residential,hotel,house,industrial,2
36,"4,2",2.232038,48.887777,office,apartments,residential,hotel,house,industrial,2
37,"5,2",2.233449,48.887777,office,apartments,apartments,retail,house,industrial,2
46,"14,2",2.246157,48.887777,office,recreation_ground,tower,apartments,residential,hotel,2
47,"15,2",2.247568,48.887777,office,hotel,grass,park,recreation_ground,residential,2
57,"5,3",2.233449,48.888712,school,office,apartments,residential,hotel,house,2
65,"14,3",2.246157,48.888712,office,scrub,tower,apartments,recreation_ground,hotel,2
100,"9,5",2.239097,48.890583,office,commercial,commercial,office,tower,roof,2
101,"10,5",2.240509,48.890583,office,roof,commercial,tower,apartments,recreation_ground,2
103,"12,5",2.243333,48.890583,office,apartments,residential,hotel,house,industrial,2
104,"13,5",2.244745,48.890583,office,scrub,grass,residential,hotel,house,2
107,"16,5",2.248980,48.890583,office,scrub,grass,residential,hotel,house,2
108,"17,5",2.250392,48.890583,office,scrub,grass,school,recreation_ground,hotel,2
120,"9,6",2.239097,48.891518,commercial,office,apartments,residential,house,industrial,2
123,"12,6",2.243333,48.891518,office,grass,commercial,residential,hotel,house,2
124,"13,6",2.244745,48.891518,office,tower,scrub,apartments,recreation_ground,hotel,2
134,"3,7",2.230626,48.892454,tower,office,grass,cemetery,residential,house,2
135,"4,7",2.232038,48.892454,office,tower,commercial,grass,hotel,recreation_ground,2
136,"5,7",2.233449,48.892454,office,grass,scrub,hotel,residential,house,2
137,"6,7",2.234861,48.892454,office,commercial,scrub,office,apartments,residential,2
138,"7,7",2.236273,48.892454,office,office,commercial,apartments,residential,house,2
153,"3,8",2.230626,48.893389,office,commercial,apartments,residential,hotel,house,2
154,"4,8",2.232038,48.893389,office,commercial,grass,college,hotel,house,2
157,"7,8",2.236273,48.893389,office,office,apartments,retail,house,industrial,2
193,"6,10",2.234861,48.895260,office,scrub,grass,cemetery,residential,house,2
195,"8,10",2.237685,48.895260,office,tower,apartments,residential,hotel,house,2
199,"12,10",2.243333,48.895260,meadow,office,grass,retail,stadium,public,2
214,"8,11",2.237685,48.896196,office,scrub,university,commercial,recreation_ground,hotel,2
216,"10,11",2.240509,48.896196,grass,office,apartments,house,house,apartments,2
226,"0,12",2.226390,48.897131,office,construction,apartments,apartments,residential,house,2
227,"1,12",2.227802,48.897131,office,apartments,construction,apartments,residential,house,2

In [53]:
LD_grid_merged_drop[LD_grid_merged_drop['Cluster Labels'] == 3]

,grid,longitude,latitude,1st Most poi Type,2nd Most poi Type,3rd Most poi Type,4th Most poi Type,5th Most poi Type,6th Most poi Type,Cluster Labels
1,"1,0",2.227802,48.885906,park,apartments,residential,hotel,house,industrial,3
3,"3,0",2.230626,48.885906,hotel,park,allotments,service,school,residential,3
4,"4,0",2.232038,48.885906,park,apartments,residential,hotel,house,industrial,3
5,"5,0",2.233449,48.885906,garages,house,park,residential,hotel,industrial,3
12,"15,0",2.247568,48.885906,school,roof,apartments,service,office,residential,3
...,...,...,...,...,...,...,...,...,...,...
236,"10,12",2.240509,48.897131,house,house,grass,school,retail,meadow,3
237,"11,12",2.241921,48.897131,house,house,roof,park,school,residential,3
238,"12,12",2.243333,48.897131,house,house,apartments,garages,roof,meadow,3
241,"15,12",2.247568,48.897131,house,apartments,apartments,retail,industrial,meadow,3
242,"16,12",2.248980,48.897131,dormitory,apartments,residential,house,industrial,meadow,3